<div class="row-fluid">
  <div class="span8 offset2 well" style="overflow: auto;">
    <%= render :partial => 'shared/flash_messages'%>
    <h2 class="text-center">Baird-Conklin Math</h2>
    <div class="row-fluid">
      <div class="span6">
        <h4>Math Tools</h4>
        <%= link_to 'Prime Number Generator', 'bairdconklinmath/mathtools/primes' %><br/>
        <%= link_to 'Prime Factorization', 'bairdconklinmath/mathtools/factor' %>
        <h4>Math Links</h4>
        <%= link_to 'Kahn Academy', 'https://www.khanacademy.org', :target => '_blank' %><br/>
        <%= link_to 'math.com', 'http://math.com', :target => '_blank' %>
        <h4>Games</h4>
        <%= link_to 'Reversi', 'bairdconklinmath/games/reversi' %>
      </div>
      <div class="span6">
        <img src="assets/mathheart.jpg"/>
      </div>
    </div>
  </div>
</div>
