<div class="row-fluid">
  <div class="span6 offset3 well" style="overflow: auto;">
    <h2 class="text-center">Manage Instrumentation/Voicing</h2>
    <% if @voicings && @voicings.size > 0 %>
      <table class='table table-striped table-bordered stay_within_well'>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        <% @voicings.each do |voicing| %>
        <tr>
          <td><%=voicing.name%></td>
          <td>
            <%= link_to edit_voicing_path(voicing.id), :title => "Edit Instrumentation/Voicing" do %>
              <i class="icon-pencil"></i>
            <% end %>
            <%= link_to delete_voicing_path(voicing.id), :title => "Delete Instrumentation/Voicing", :confirm => "Are you sure you want to delete this instrumentation/voicing?", :method => :delete do %>
              <i class="icon-trash"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    <% else %>
      No Instrumentation/Voicing Found
    <% end %>
    <div class="controls text-right">
      <%= link_to "cancel", "/" %>
      <%= link_to "Add Instrumentation/Voicing", new_voicing_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>
