<div class="row-fluid">
  <div class="span6 offset3 well">
    <h2 class="text-center">Edit Composition</h2>
    <%= form_for @composition do |f| %>
      <%= f.error_messages %><br/>
      <%= f.text_field :name, :placeholder => "Title", :class => "input-xxlarge stay_within_well" %>
      <%= f.text_field :composer, :placeholder => "Composer", :class => "input-xxlarge stay_within_well" %>
      <%= f.text_field :arranger, :placeholder => "Arranger", :class => "input-xxlarge stay_within_well" %>
      <%= f.text_field :lyricist, :placeholder => "Lyricist", :class => "input-xxlarge stay_within_well" %>
      <%= f.text_area :description, :placeholder => "Description", :class => "input-xxlarge stay_within_well", :rows => 5 %>
      <%= f.label :category, "Category "%>
      <%= f.select :category, options_from_collection_for_select(Category.find(:all, :order => :name), :id, :name, @composition.category) %>
      <%= f.label :voicing, "Instrumentation/Voicing"%>
      <%= f.select :voicing, options_from_collection_for_select(Voicing.find(:all, :order => :name), :id, :name, @composition.voicing) %>
      <br/>
      <%= f.label :sheet_music_file, "Sheet Music File"%>
      <%= f.select :sheet_music_file, options_for_select(@pdf_files, @composition.sheet_music_file) %>
      <%= f.label :recording_file, "Audio File"%>
      <%= f.select :recording_file, options_for_select(@audio_files, @composition.recording_file) %>
      <div class="controls text-right">
        <%= link_to "cancel", compositions_path %>
        <%= f.submit "Save", :class => "btn btn-primary" %>
        <% if @composition.published %>
          <%= f.submit "Un-Publish", :class => "btn btn-danger" %>
        <% else %>
          <%= f.submit "Publish", :class => "btn btn-success" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
