<div class="row-fluid">
  <div class="span10 offset1 well">
    <h2 class="text-center">Manage Compositions</h2>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Voicing</th>
        <th>Sheet Music</th>
        <th>Recording</th>
        <th>Action</th>
      </tr>
    <% if @compositions && @compositions.size > 0 %>
      <% @compositions.each do |composition| %>
        <tr>
          <td><%= composition.name %></td>
          <td><%= composition.description %></td>
          <td><%= Category.find(composition.category).name %></td>
          <td><%= Voicing.find(composition.voicing).name %></td>
          <td><%= link_to 'sheet music', '/uploads/' + composition.sheet_music_url %></td>
          <td><%= link_to 'recording', '/uploads/' + composition.recording_url %></td>
          <td>
            <%= link_to "edit", { :action => "edit", :id => composition.id } %>
            <%= link_to "delete", { :action => "delete", :id => composition.id },
              :confirm => "Are you sure you want to delete this composistion?", :method => :delete %>
          </td>
        </tr>
      <% end %>
    </table>
    <% else %>
      No Compositions Found
    <% end %>
    <div class="controls text-right">
      <%= link_to "cancel", "/" %>
      <%= link_to "Create New Composition", new_composition_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>
