<div class="row-fluid">
  <div class="span6 offset3 well" style="overflow: auto;">
    <h2 class="text-center"><%= @composition.name %></h2>
    <div class="row-fluid">
      <span class="pull-left"><span class="text-bold">Category: </span> <%= Category.find(@composition.category).name %></span>
    </div>
    <div class="row-fluid">
      <span class="pull-left"><span class="text-bold">Instrumentation/Voicing: </span> <%= Voicing.find(@composition.voicing).name %></span>
    </div>
    <br/>
    <% if @composition.lyricist.present? %>
      <div class="row-fluid">
        <span class="pull-left"><span class="text-bold">Words by: </span> <%= @composition.lyricist %></span>
      </div>
    <% end %>
    <div class="row-fluid">
      <span class="pull-left"><span class="text-bold">Music by: </span> <%= @composition.composer %></span>
    </div>
    <% if @composition.arranger.present? %>
      <div class="row-fluid">
        <span class="pull-left"><span class="text-bold">Arranged by: </span><%= @composition.arranger %> </span>
      </div>
    <% end %>
    <% if @composition.performer.present? %>
      <div class="row-fluid">
        <span class="pull-left"><span class="text-bold">Performed by: </span> <%= @composition.performer %></span>
      </div>
    <% end %>
    <br/>
    <div class="row-fluid">
      <span class="pull-left"><span class="text-bold">Details: </span> <%= @composition.description %></span>
    </div>
    <br/>
    <div class="row-fluid">
      <span class="pull-left">
        <% if @composition.sheet_music_file == 'Select File'%>
          No Sheet Music Available
        <% else %>
          <%= link_to 'View or Download Sheet Music for ' + @composition.name, '/uploads/'+@composition.sheet_music_file, :target => '_blank' %>
        <% end %>
      </span>
    </div>
    <div class="row-fluid">
      <span class="pull-left">
        <% if @composition.recording_file == 'Select File'%>
          No Recording Available
        <% else %>
          <br/>
          <audio controls>
            <source src="<%= '/uploads/'+@composition.recording_file %>" type="audio/mpeg">
            <a href="<%= '/uploads/'+@composition.recording_file %>" target="_blank">Download Audio File</a> (your browser does not support the HTML5 inline player)
          </audio>
        <% end %>
      </span>
    </div>
    <br/>
    <div class="row-fluid">
      <a href="javascript:history.go(-1)">Back</a>
      <% if @current_user && @current_user.admin? %>
        <%= link_to 'Edit', edit_composition_path(@composition, source: 'show'), class: "btn btn-primary" %>
        <%= link_to 'All Compositions', compositions_path, class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
  <div class="span2 offset1 text-center">
    <%= render 'shared/other_websites' %>
  </div>
</div>
