<div class="row-fluid">
  <div class="span6 offset3 well">
    <h2 class="text-center"><%= @composition.name %></h2>
    <div class="row-fluid">
      <span class="pull-left"><span class="text-bold">Category: </span> <%= Category.find(@composition.category).name %></span>
    </div>
    <div class="row-fluid">
      <span class="pull-left"><span class="text-bold">Voicing or Instrumentation: </span> <%= Voicing.find(@composition.voicing).name %></span>
    </div>
    <br/>
    <div class="row-fluid">
      <span class="pull-left"><span class="text-bold">Words by: </span> <%= @composition.lyricist %></span>
    </div>
    <div class="row-fluid">
      <span class="pull-left"><span class="text-bold">Music by: </span> <%= @composition.composer %></span>
    </div>
    <% if @composition.arranger.present? %>
      <div class="row-fluid">
        <span class="pull-left"><span class="text-bold">Arranged by: </span><%= @composition.arranger %> </span>
      </div>
    <% end %>
    <br/>
    <div class="row-fluid">
      <span class="pull-left"><span class="text-bold">Details: </span> <%= @composition.description %></span>
    </div>
    <br/>
    <div class="row-fluid">
      <span class="pull-left">
        <% if @composition.sheet_music_file == 'Select File'%>
          No Sheet Music Available
        <% else %>
          <%= link_to 'View or Download Sheet Music for ' + @composition.name, '/uploads/'+@composition.sheet_music_file, :target => '_blank' %>
        <% end %>
      </span>
    </div>
    <div class="row-fluid">
      <span class="pull-left">
        <% if @composition.recording_file == 'Select File'%>
          No Recording Available
        <% else %>
          <br/>
          <audio controls>
            <source src="<%= '/uploads/'+@composition.recording_file %>" type="audio/mpeg">
            <a href="<%= '/uploads/'+@composition.recording_file %>">Download Audio File</a> (your browser does not support the HTML5 inline player)
          </audio>
        <% end %>
      </span>
    </div>
    <br/>
    <div class="row-fluid">
      <a href="javascript:history.go(-1)">Back</a>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  initInlinePlayer();
})
</script>
