<div class="row-fluid">
  <div class="span8 offset2 well">
    <h2 class="text-center">Manage Users</h2>
    <% if @user_list && @user_list.size > 0 %>
      <table class='table table-striped table-bordered'>
      	<tr>
          <th>Name</th>
          <th>Email</th>
          <th>Admin</th>
          <th>Actions</th>
      	</tr>
      <% @user_list.each do |user| %>
        <tr>
          <td><%=user.name%></td>
          <td><%=user.email%></td>
          <td>
        <% if user.admin %>
          X
        <% end %>
          </td>
          <td>
            <%= link_to edit_user_path(user.id), :title => "Edit User" do %>
              <i class="icon-pencil"></i>
            <% end %>
            <%= link_to delete_user_path(user.id), :title => "Delete User", :confirm => "Are you sure you want to delete this user?", :method => :delete do %>
              <i class="icon-trash"></i>
            <% end %>
          </td>
      <% end %>
      </table>
    <% else %>
    No Users Found
    <% end %>
    <div class="controls text-right">
      <%= link_to "cancel", "/" %>
      <%= link_to "Create New User", new_user_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>
