<div class="row-fluid">
  <div class="span4 offset4 well text-center">
    <h3>Sign In</h3>
    <%= render :partial => 'shared/flash_messages'%>
    <%= form_tag login_users_path, :method => 'post' do |f| %>
      <%= text_field_tag 'email', '', :placeholder => "Email" %>
      <%= password_field_tag 'password', '', :placeholder => "Password" %><br/><br/>
      <div class="text-left">
        Need an account? <%= link_to "create account", new_user_path %>
      </div>
      <div class="controls text-right">
        <%= link_to "cancel", "/" %>
        <%= submit_tag "Sign In", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
