<div class="row-fluid">
  <div class="span4 offset4 well text-center">
    <h2>Create An Account</h2>
    <%= form_for @user do |f| %>
      <%= f.text_field :name, :placeholder => "Full Name" %>
      <%= f.text_field :email, :placeholder => "Email" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
      <div class="controls text-right">
        <%= link_to "cancel", root_url %>
        <%= f.submit "Save", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
