<div class="row-fluid">
  <div class="span6 offset3 well">
    <h2 class="text-center">Manage Categories</h2>
    <% if @categories && @categories.size > 0 %>
      <table class='table table-striped table-bordered stay_within_well'>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        <% @categories.each do |category| %>
        <tr>
          <td><%=category.name%></td>
          <td>
            <%= link_to edit_category_path(category.id), :title => "Edit Category" do %>
              <i class="icon-pencil"></i>
            <% end %>
            <%= link_to delete_category_path(category.id), :title => "Delete Category", :confirm => "Are you sure you want to delete this category?", :method => :delete do %>
              <i class="icon-trash"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    <% else %>
      No Categories Found
    <% end %>
    <div class="controls text-right">
      <%= link_to "cancel", "/" %>
      <%= link_to "Add Category", new_category_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>
