<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Baird-Conklin Music</a>
    <form class="navbar-search pull-left">
      <input type="text" class="search-query" placeholder="Search">
    </form>
    <ul class="nav pull-left">
      <li><a href="#">Browse</a></li>
    </ul>
    <ul class="nav pull-right">
      <% if @current_user %>
        <% if @current_user.admin %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Admin
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="<%=categories_path%>">Categories</a>
            </li>
            <li>
              <a href="<%=compositions_path%>">Compositions</a>
            </li>
            <li>
              <a href="<%=users_path%>">Users</a>
            </li>
            <li>
              <a href="<%=voicings_path%>">Voicing and Instrumentation</a>
            </li>
          </ul>
        </li>
        <% end %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= @current_user.name %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="<%=edit_user_path(@current_user)%>">Edit Account</a>
            </li>
            <li>
              <a href="<%=logout_users_path%>">Sign Out</a>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Account
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="<%=new_user_path%>">Create</a>
            </li>
            <li>
              <a href="<%=login_users_path%>">Sign In</a>
            </li>
          </ul>
        </li>
      <% end %>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</div>