<!DOCTYPE html>
<html>
<head>
  <title>Baird-Conklin Music</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/like' %>
  <%= yield %>
  <div class='text-center'>
    <%= link_to 'Baird-Conklin Math', 'https://bairdconklinmath.herokuapp.com'%>
  </div>
</body>
</html>
